:host {
  background: #f0f0f0;
  display: block;
  resize: both;
  overflow: hidden;
  border: 1px solid black;
  position: relative;
  min-height: 100px;
  min-width: 100px;
  height: 400px;
  width: 400px;
  max-height: 582px;
  max-width: 782px;
}

canvas {
  background: #ffffff;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  position: absolute;
  top: 10px;
  left: 10px;
}

button {
  position: absolute;
  bottom: 0;
  left: 0;
}